@using K_Systems.Data.Core.Domain
@using System.Web.Http.Routing

@model Course

@{
    ViewBag.Title = "Add New Course";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}


@using (Html.BeginForm("Add", "Courses", FormMethod.Post, new { novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

    <h2>Add New Course</h2>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel panel-default">
        <div class="panel-heading">Course Data</div>
        <div class="panel-body">

            <div class="row">
                <div class="form-group col-lg-4">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-lg-4">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
    </div>

   

    <div class="row">
        <div class="form-group col-lg-4">
            <div class="col-md-offset-2 col-md-9">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <div class="col-lg-1">
            @Html.ActionLink("Back to List", "Index")

        </div>
    </div>









}

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/UIEditors.js"></script>
    <script src="~/Scripts/Upload.js"></script>
}

@section Styles{
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
}












@* for editing ISA *@

@*<div class="form-group col-lg-4">
        @Html.LabelFor(model => model.isDeleted, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <div class="checkbox">
                @Html.EditorFor(model => model.isDeleted)
                @Html.ValidationMessageFor(model => model.isDeleted, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@